.same-width-btn{
    width: 145px;
    padding: 11px 14px;
}

.reset-message{
    p{
        font-size: 0.8em;
        text-align: center;
        padding-top: 1.5em;
    }
    
}
.custom-form input{
    margin-bottom: 20px;
}
