<section class="full-height-wrapper bg-theme-grey auth-bg">
  <div class="section-content full-height-wrapper">
    <div class="centered-box shadow-lg">
      <div class="box-image bg-theme-yellow loginBox">
        <figure>
          <div class="logoLogin">Insurance Company</div>
        </figure>
      </div>

      <div class="box-content bg-white">
        <div class="content pt-5">
          <h3 class="heading font-medium color-dark-grey" >FORGOT PASSWORD</h3>
          <p class="sub-heading font-medium color-light-grey">Please enter your email id to reset your password.</p>
          <!-- Login Form Start -->
          <form [formGroup]="recoverPasswordForm" (ngSubmit)="onSubmitRecoverPassword()" class="auth-form custom-form">
            <div class="field-outer">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <input type="email" placeholder="Enter Email" formControlName="email_id">
              <div
                *ngIf="recoverPasswordForm.controls['email_id'].hasError('required') && (recoverPasswordForm.controls['email_id'].dirty || recoverPasswordForm.controls['email_id'].touched) && isRecoverPasswordSubmitted"
                class="error" style="font-family: auto;font-size: 16px;">
                Please enter email 
              </div>
              <div *ngIf="recoverPasswordForm.controls.email_id.errors?.email && isRecoverPasswordSubmitted" class="error">
                Please provide valid email id
              </div>
            </div>  
            <div class="text-center">
              <div style="padding-top: 20px">
                <button type="submit" class="custom-btn same-width-btn theme-btn text-center">Send</button>
              </div>
            </div>
            <div class="text-center">
              <a routerLink="../login" class="back-to-login">Back to Login <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>
            <!-- <button type="button" class="custom-btn same-width-btn white-btn text-center" routerLink="../login">Back
              to Login</button> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
