<div style="text-align: center;"><span data-end-index="5107" data-start-index="5077" style="font-size: 20px;">Welcome to FAVOS</span></div>

<div style="text-align: center;">&nbsp;</div>

<div style="text-align: center;">
<table align="center" border="0" cellpadding="0" cellspacing="0" data-end-index="4098" data-start-index="3982" style="color: rgb(0, 0, 0); font-family: arial; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; background-color: rgb(255, 255, 255); width: 600px; max-width: 600px;" width="100%">
	<tbody>
		<tr data-end-index="4131" data-start-index="4127">
			<td align="left" bgcolor="#ffffff" data-end-index="4303" data-start-index="4162" role="modules-container" width="100%">
			<table border="0" cellpadding="0" cellspacing="0" class="module" data-end-index="5321" data-start-index="5183" data-type="code" role="module" style="table-layout: fixed;" width="100%">
				<tbody>
					<tr data-end-index="5332" data-start-index="5328">
						<td data-end-index="5372" data-start-index="5341" height="100%" valign="top">
						<div data-end-index="5388" data-start-index="5383" style="font-family: arial; font-size: 14px;">Hi, {{ email }}</div>
						</td>
					</tr>
				</tbody>
			</table>

			<table border="0" cellpadding="0" cellspacing="0" class="module" data-end-index="5590" data-start-index="5452" data-type="text" role="module" style="table-layout: fixed;" width="100%">
				<tbody>
					<tr data-end-index="5601" data-start-index="5597">
						<td bgcolor="" data-end-index="5759" data-start-index="5610" height="100%" style="padding-top: 1px; padding-bottom: 18px; line-height: 22px; text-align: inherit;" valign="top">

						<div data-end-index="5847" data-start-index="5842" style="font-family: arial; font-size: 14px;">&nbsp;</div>

						<div data-end-index="5866" data-start-index="5861" style="font-family: arial; font-size: 14px;"><strong data-end-index="5874" data-start-index="5866">{{heading}}</strong></div>
						</td>
					</tr>
				</tbody>
			</table>

			<table border="0" cellpadding="0" cellspacing="0" class="module" data-end-index="6104" data-start-index="5966" data-type="code" role="module" style="table-layout: fixed;" width="100%">
				<tbody>
					<tr data-end-index="6115" data-start-index="6111">
						<td data-end-index="6155" data-start-index="6124" height="100%" valign="top">
						<div data-end-index="6171" data-start-index="6166" style="font-family: arial; font-size: 14px;">Email Id: {{ email }}</div>
						&nbsp;

						<div data-end-index="6214" data-start-index="6209" style="font-family: arial; font-size: 14px;">Forgot Password Link: <a href="{{ link }}">{{ link }}<a></div>
						<p style="font-family: arial; font-size: 14px;">You can change your password on click in this link.</p>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
</div>