.country-card-text {
    font-size: 14px;
    color: #8f8f8f;
    font-weight: 500;
    margin-bottom: 0;
    padding-bottom:12px;
  }
.country-card-text 
  {
    span
        {
          vertical-align: super;
          margin-left: 10px;
        }
  }    
// .country-card-text {
//   font-size: 14px;
//   color: #8f8f8f;
//   font-weight: 500;
//   margin-bottom: 0;
//   padding-bottom: 12px;
// }
// .action-page-text {
//   margin-bottom: 0;
// }
