<section class="full-height-wrapper bg-theme-grey auth-bg">
  <div class="section-content full-height-wrapper">
    <div class="centered-box shadow-lg">
      <div class="box-image bg-theme-yellow loginBox">
        <figure>
          <div class="logoLogin">Insurance Company</div>
        </figure>
      </div>

      <div class="box-content bg-white">
        <div class="content pt-5" *ngIf="!resetStatus">
          <h3 class="heading font-medium color-dark-grey">RESET PASSWORD</h3>
          <p class="sub-heading font-medium color-light-grey">Set your new password.</p>
          <!-- Login Form Start -->
          <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" class="auth-form custom-form">
            <div class="field-outer">
              <i class="fa fa-lock" aria-hidden="true"></i>
              <input type="password" placeholder="New Password" formControlName="password">
              <div
                *ngIf="resetPasswordForm.controls['password'].hasError('required') && (resetPasswordForm.controls['password'].dirty || resetPasswordForm.controls['password'].touched)"
                class="error" style="font-family: auto;font-size: 16px;">
                Password is required 
              </div>
              <div
                *ngIf="resetPasswordForm.controls['password'].hasError('minlength') && (resetPasswordForm.controls['password'].dirty || resetPasswordForm.controls['password'].touched)"
                class="error" style="font-family: auto;font-size: 16px;">
                Password should be 8-15 characters long
              </div>
            </div>  
            <div class="field-outer">
              <i class="fa fa-lock" aria-hidden="true"></i>
              <input type="password" placeholder="Confirm Password" formControlName="confirmPassword">
              <div
                *ngIf="resetPasswordForm.controls['confirmPassword'].hasError('required') && (resetPasswordForm.controls['confirmPassword'].dirty || resetPasswordForm.controls['confirmPassword'].touched)"
                class="error" style="font-family: auto;font-size: 16px;">Confirm Password is required
              </div>
              <div *ngIf="(resetPasswordForm.invalid && isResetPasswordSubmitted) && !(resetPasswordForm.controls['confirmPassword'].hasError('required'))" class="error" style="font-family: auto;font-size: 16px;">
                Passwords does not match.
              </div>
            </div>  
            <!-- <input type="password" placeholder="Confirm Password" formControlName="confirmPassword"> -->
            
            <button type="submit" class="custom-btn theme-btn text-center block-center">Save</button>
          </form>
        </div>

        <div class="content pt-5" *ngIf="resetStatus">
          <h3 class="heading font-medium color-dark-grey">CONGRATULATIONS!</h3>
          <p class="sub-heading font-medium color-light-grey">Your password has been reset. Please login with the new
            password.</p>
            <div class="text-center">
              <a routerLink="../login" class="back-to-login">Back to Login <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
